<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvenuto in Dual AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: lightgrey;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
            padding: 20px;
        }

        .jumbotron {
            background-color: #007bff;
            color: #fff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            margin-bottom: 30px;
        }

            .jumbotron h1 {
                font-size: 3rem;
                margin-bottom: 20px;
            }

            .jumbotron p {
                font-size: 1.2rem;
            }

        .project-description {
            margin-top: 30px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

            .project-description h2 {
                font-size: 2rem;
                margin-bottom: 10px;
                color: #007bff;
            }

            .project-description p {
                font-size: 1.1rem;
                line-height: 1.6;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/IMG/Dualailogo.png" style="width: 20%; display: block; margin: 0 auto;" />
        <div class="jumbotron text-center">
            <h1 class="display-4">Grazie per aver scelto Dual AI</h1>
            <p class="lead">Sarai sicuramente soddisfatto del servizio fornito.</p>
        </div>
        <div class="project-description">
            <h2>Funzionamento Servizio</h2>
            <p>Il progetto coinvolge l'interazione tra due modelli di Intelligenza Artificiale (AI) attraverso una pagina web. Il progetto prevede che la prima AI generi testo basato su un prompt inserito dall'utente in una pagina web, mentre la seconda AI riceve il testo generato dalla prima AI e produce un audio corrispondente. La comunicazione tra le AI avviene attraverso un'interfaccia web che consente all'utente di inserire il prompt e ricevere l'audio generato.</p>
            @*@<img src="IMG/DualAILogo.png" alt="Logo di Dual AI">*@
        </div>
    </div>
</body>
</html>
