@{
    ViewData["Title"] = "Chi Siamo";
}

<div class="container">
    <h1 class="text-left my-4">Chi Siamo</h1>
    <p class="text-left my-2">
        Siamo una piccola azienda composta da un team di professionisti appassionati. Ci impegniamo a fornire i migliori servizi ai nostri clienti.
    </p>
    <hr />

    <div class="row my-4">
        <div class="col-md-6 text-center">
            <img src="~/IMG/Massimo.jpeg" class="img-fluid rounded-circle mb-3" alt="Foto del membro del team" style="width: 400px; height: auto;" />
            <h2>Massimo</h2>
            <p>Developer</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/IMG/Lorenzo.jpeg" class="img-fluid rounded-circle mb-3" alt="Foto del membro del team" style="width: 400px; height: auto;" />
            <h2>Lorenzo</h2>
            <p>Mediatore Creditizio</p>
        </div>
    </div>
</div>
