@model DualAI.Models.Mainpage

@{
    ViewData["Title"] = "Create";
}

<style>
    .custom-background {
        background-color: lightgray; /
    }

    .btn-green {
        background-color: darkseagreen;
        border-color: darkseagreen;
        color: black;
    }
</style>

<div class="container">
    <h1 class="text-center my-4">Crea</h1>
    <h4 class="text-center my-2">Pagina Principale</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nickname" class="control-label"></label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prompt" class="control-label"></label>
                    <input asp-for="Prompt" class="form-control" />
                    <span asp-validation-for="Prompt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="originalLanguage">Lingua Originale</label>
                    <select id="originalLanguage" name="LinguaOriginale" class="form-control">
                        <option>Seleziona Una Lingua</option>
                        <option value="it">Italiano</option>
                        <option value="en">Inglese</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="translationLanguage">Lingua di Traduzione</label>
                    <select id="translationLanguage" name="LinguaDiTraduzione" class="form-control">
                        <option>Seleziona Una Lingua</option>
                        <option value="it">Italiano</option>
                        <option value="en">Inglese</option>
                        <option value="de">Tedesco</option>
                        <option value="fr">Francese</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Crea" class="btn btn-info btn-sm btn-green" />
                </div>
            </form>
        </div>
    </div>
    <div class="text-center my-4">
        <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
