@model DualAI.Models.Mainpage

@{
    ViewData["Title"] = "Edit";
}
@{
    var linguaOriginaleSalvata = Model.LinguaOriginale;
    var linguaDiTraduzioneSalvata = Model.LinguaDiTraduzione;

    var linguaOriginaleCompleta = "";
    var linguaDiTraduzioneCompleta = "";

    switch (linguaOriginaleSalvata)
    {
        case "it":
            linguaOriginaleCompleta = "Italiano";
            break;
        case "en":
            linguaOriginaleCompleta = "Inglese";
            break;
    }

    switch (linguaDiTraduzioneSalvata)
    {
        case "it":
            linguaDiTraduzioneCompleta = "Italiano";
            break;
        case "en":
            linguaDiTraduzioneCompleta = "Inglese";
            break;
        case "de":
            linguaDiTraduzioneCompleta = "Tedesco";
            break;
        case "fr":
            linguaDiTraduzioneCompleta = "Francese";
            break;
    }
}
<style>
    .custom-background {
        background-color: #f5f5dc; /* Beige molto chiaro */
    }
</style>

<div class="container">
    <h1 class="text-center my-4">Modifica</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Nickname" />
                <div class="form-group">
                    <label asp-for="Prompt" class="control-label"></label>
                    <input asp-for="Prompt" class="form-control" />
                    <span asp-validation-for="Prompt" class="text-danger"></span>
                </div>
                <!-- Lingua Originale -->
                <div class="form-group">
                    <label asp-for="LinguaOriginale" class="control-label"></label>
                    <select asp-for="LinguaOriginale" class="form-control">
                        <option value="it">Italiano</option>
                        <option value="en">Inglese</option>
                    </select>
                </div>

                <!-- Lingua Di Traduzione -->
                <div class="form-group">
                    <label asp-for="LinguaDiTraduzione" class="control-label"></label>
                    <select asp-for="LinguaDiTraduzione" class="form-control">
                        <option value="it">Italiano</option>
                        <option value="en">Inglese</option>
                        <option value="de">Tedesco</option>
                        <option value="fr">Francese</option>
                    </select>
                </div>
                <br />
                <div class="form-group text-center">
                    <input type="submit" value="Salva" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a><br />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
