@model DualAI.Models.Mainpage

@{
    ViewData["Title"] = "Details";
}

<h1>Pagina Finale</h1>

<div class="container">
    <h1 class="text-center my-2">Pagina Finale</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GeneratedText" class="control-label"></label>
                <input asp-for="GeneratedText" class="form-control" readonly />
                <span asp-validation-for="GeneratedText" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AudioUrl" class="control-label"></label>
                <a href="@Model.AudioUrl" class="form-control" style="padding-top: 6px; display: block;">@Model.AudioUrl</a>
                <span asp-validation-for="AudioUrl" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center my-4">
        <a asp-controller="Mainpages" asp-action="Index" class="btn btn-info mt-2">Torna alla lista</a>
    </div>
</div>
